PNGmap {
	height:1250px;
	width: 1400px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
	}
	
.popover {
	background: white;
	z-index: 5;
	}
	
.value {
	font-weight: bold;
	}

.item {
	font-family: Arial;
	}