<!DOCTYPE html>
<head>
	<title>Convoy - Team O</title>
	<style>
		th, td {
			padding: 10px;
		}
		
		.table-primary{
			background-color: black;
			color: white;
		}
		
		.table-Sword, .table-Tome{
			background-color: #db4848;
		}
		
		.table-Lance, .table-Knife{
			background-color: #76aef7;
		}
		
		.table-Axe, .table-Bow{
			background-color: #3faf3d;
		}
		
		.table-Item, .table-Staff {
			background-color: grey;
		}
		
	</style>
</head>
<body>
	<table>
		<tr class="table-primary">
			<th>Item</th>
			<th>Type</th>
			<th>Attack Stat</th>
			<th>Rank</th>
			<th>Might</th>
			<th>Hit</th>
			<th>Crit</th>
			<th>Crit % Modifier</th>
			<th>Crit Dmg Modifier</th>
			<th>Avo</th>
			<th>CEva</th>
			<th>Range</th>
			<th>Effective</th>
			<th>Effective</th>
			<th>ESpd (Off)</th>
			<th>ESpd (Def)</th>
			<th>Gems</th>
			<th>Reverse WT</th>
			<th>Double WT</th>
			<th>Ineffective?</th>
			<th>Cost</th>
			<th>Effect</th>
		</tr>
		{% for row in ROWS %}
		<tr class="table-{{ row[1] }}">
			{% for column in row %}
			<td>{{ column }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
</body>