{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{%block head %}
	{{ super() }}
	<style>
		.git-link	{
			position: fixed;
			bottom: 0;
			right: 0;
		}
	</style>
{% endblock %}
{% block body %}
		<p><a href="{{ url_for('show_map') }}">Load map</a></p>
		<br>
		<p><a href="{{ url_for('show_gaiden') }}">Load gaiden</a></p>
		<br>
		<p><a href="{{ url_for('show_convoy') }}">Convoy</a></p>
		<br>
		<p><a href="{{ url_for('show_shop') }}">Shop</a></p>
		<a href="https://github.com/NovikovPrinciple/RE"><img class="git-link" src="/static/favicon-16x16.png"></a>
{% endblock %}