{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{%block head %}
	{{ super() }}
	<style>
		.git-link	{
			position: fixed;
			bottom: 0;
			right: 0;
		}
	</style>
{% endblock %}
{% block body %}
		<a href="{{ url_for('show_map') }}"><button class="bnt-load btn">Load map</button></a>
		<br>
		<a href="{{ url_for('show_gaiden') }}"><button class="bnt-load btn">Load gaiden</button></a>
		<br>
		<a href="{{ url_for('show_convoy') }}"><button class="bnt-convoy btn">Convoy</button></a>
		<br>
		<a href="{{ url_for('show_shop') }}"><button class="bnt-shop btn">Shop</button></a>
		<br>
		<a href="{{ url_for('show_sample') }}"><button class="bnt-shop btn">EXPERIMENTAL</button></a>
		<a href="https://github.com/NovikovPrinciple/RE"><img class="git-link" src="/static/favicon-16x16.png"></a>
{% endblock %}