{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{%block head %}
	{{ super() }}
	<style>
		.GIFmap			{
			position: absolute;
			z-index: -5;
		}
		.popover		{
			background-color: white;
			z-index: 5;
		}
		.value			{
			font-weight: bold;
		}
	</style>
{% endblock %}
{% block body %}
		<div class="GIFmap"><img src="/static/{{ MAPNAME }}" alt="Where's the map?"></div>
		
		{% for character in character_list %}
			<img class="sprite" src="/static/Blank.png" alt="Where's Anna?" class="Sprite" data-toggle="popover" data-html="true"
			data-content="<h4>{{ character.name }}, {{ character.class_name }}</h4>
			<span class='value'>{{ character.current_HP }}</span> / {{ character.max_HP }} 
			[Str <span class='value'>{{ character.strength }}</span>]
			[Mag <span class='value'>{{ character.magic }}</span>]
			[Skl <span class='value'>{{ character.skill }}</span>]
			[Spd <span class='value'>{{ character.speed }}</span>]
			[Lck <span class='value'>{{ character.luck }}</span>]
			[Def <span class='value'>{{ character.defense }}</span>]
			[Res <span class='value'>{{ character.resistance }}</span>]
			[Mov <span class='value'>{{ character.movement }}</span>]<br>
			
			Inventory:
			{% for item in character.items %}
				{% if item == character.items[0] %}
					(<strong>{{ item.name }}</strong>)
				{% else %}
					({{ item.name }})
				{% endif %}
			{% endfor %}
			<br>
			{% for skill in character.skills %}
				[{{ skill.name }}]
			{% endfor %}
			<br>
			Atk: <span class='value'>{{ character.atk }}</span>,
			Hit: <span class='value'>{{ character.hit }}</span>,
			Crit: <span class='value'>{{ character.crit }}</span>,
			Avo: <span class='value'>{{ character.avo }}</span>,
			CEva: <span class='value'>{{ character.ceva }}</span>
			"
			style="position: absolute;
			height: 45px;
			width: 45px;
			top: {{ 50 * character.on_tile.tile_row + 10}}px;
			left: {{50 * character.on_tile.tile_column + 10}}px;
			z-index: 5;">
		{% endfor %}
		
		
{% endblock %}