<!DOCTYPE html>
<html>
	<head>
		<title>Map - Team O</title>
		<link rel="stylesheet" type"text/css" href="static/style.css">
		<style>
			PNGmap {
				height:1250px;
				width: 1400px;
				position: absolute;
				left: 0px;
				top: 0px;
				z-index: -1;
				}
				
			.popover {
				background: white;
				z-index: 5;
				}
		</style>
	</head>
	<body>
	
		<img src="static/{{ map }}" alt="Deployment map" class="PNGmap">
		{% for character in character_list %}
			
			<img src="/static/sprites/{{ sprite[loop.index0] }}" alt="Sample sprite" class="Sprite" data-toggle="popover" data-html="true"
			data-content="{{ character }}: HP= {{CURRENT[loop.index0]}}/{{MAX[loop.index0]}} [Str:{{STRENGTH[loop.index0]}}] [Mag:{{MAGIC[loop.index0]}}] [Skl:{{SKILL[loop.index0]}}] [Spd:{{SPEED[loop.index0]}}] [Def:{{DEFENSE[loop.index0]}}] [Res:{{RESISTANCE[loop.index0]}}] [Lck:{{LUCK[loop.index0]}}] [Mov:{{MOVE[loop.index0]}}]<br>
			Equipped: {{EQUIPPED[loop.index0]}}, Item uses: {{USES[loop.index0]}}<br>
			Atk {{ATK[loop.index0]}}, Hit {{HIT[loop.index0]}}, Crit {{CRIT[loop.index0]}}, Avo {{AVO[loop.index0]}}, CEva {{CEVA[loop.index0]}}"
			
			style="height: 45px;
			width: 45px; 
			position: absolute; 
			left: {{ column[loop.index0] }}px;
			top: {{ row[loop.index0] }}px; 
			z-index: 2;" >
		{% endfor %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover(); 
});
</script>
	</body>
</html>